
<!--<div ng-show="!showEditForm">
    <h1 ng-bind="post.title"></h1>
    <p ng-bind="post.body"></p>
    <button type="button" ng-click="toggleEdit()">Edit</button>
</div>

<div ng-show="showEditForm">
    <form novalidate class="simple-form">
        <label for="title">Title: </label>
        <input type="text" name="title" ng-model="post.title" /><br />
        <label for="body">Body: </label>
        <input type="text" name="body" ng-model="post.body" /><br />
        <button type="button" ng-click="toggleEdit()">Save</button>
    </form>
</div>-->


<h1 ng-bind="title"></h1>